// ---------------------------------------------------------------------------
// JOnAS: Java(TM) Open Application Server
// Copyright (C) 2008 Bull S.A.S.
// Contact: jonas-team@ow2.org
//
// This library is free software; you can redistribute it and/or
// modify it under the terms of the GNU Lesser General Public
// License as published by the Free Software Foundation; either
// version 2.1 of the License, or any later version.
//
// This library is distributed in the hope that it will be useful,
// but WITHOUT ANY WARRANTY; without even the implied warranty of
// MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
// Lesser General Public License for more details.
//
// You should have received a copy of the GNU Lesser General Public
// License along with this library; if not, write to the Free Software
// Foundation, Inc., 59 Temple Place, Suite 330, Boston, MA  02111-1307
// USA
//
// ---------------------------------------------------------------------------
// $Id: build.properties 12246 2007-12-09 21:42:38Z benoitf $
// ---------------------------------------------------------------------------

javaee5-earsample {
    // Login Module to use for the example javaee5-earsample.

    // First, use a LoginModule for the authentication
    // Use the resource memrlm_1
    org.ow2.jonas.security.auth.spi.JResourceLoginModule required
    resourceName="memrlm_1"
    ;

    // Use the login module to propagate security to the JOnAS server
    org.ow2.jonas.security.auth.spi.ClientLoginModule  required
    ;
};
